@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #f5cb5c;
  --secondaryColor: #212529;
  --lightFont: 300;
  --mediumFont: 500;
  --boldFont: 900;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Utility Classes */

a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondaryColor);
  font-weight: var(--lightFont);
}

i {
  color: white;
}

.container {
  margin: 2rem;
}

img {
  display: block;
  max-width: 100%;
}

.header-margin {
  margin-block: 1rem;
}

.header-mb {
  margin-bottom: 1rem;
}

.text-center {
  text-align: center;
  font-weight: var(--mediumFont);
  font-size: 3rem;
  text-transform: uppercase;
  font-size: clamp(.5rem, 6vw, 1.1rem);
}

/* Header Section */

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--primaryColor);
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: space-between;
  font-weight: var(--boldFont);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
}

.hide {
  display: none;
}

.nav-link {
  padding-right: 1rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
}

/* About Me Section */

.about-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  max-width: 100dvw;
}

.about-img {
  display: flex;
  /* justify-self: end;
    width: 60%; */
}

.intro-title {
  font-weight: var(--mediumFont);
}

.intro-text {
  font-weight: var(--lightFont);
  /* max-width: 70%; */
}

/* Eduction & Experience */

.edu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
}

.edu-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.card {
  background-color: var(--secondaryColor);
  color: white;
  margin-bottom: 1rem;
  position: relative;
  z-index: -1;
}

.card-title,
.card-text {
  padding-block: 0.6rem;
}

.card-body {
  padding: 1rem;
}

.card-text {
  font-weight: var(--lightFont);
  font-size: clamp(.5rem, 5vw, 1.1rem);
  margin-bottom: 2rem;
}

.card-level {
  font-weight: var(--mediumFont);
  margin-top: 1rem;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
}

/* Skills Card Styling */

/* .custom-body{
    position: relative;
}

.level{
    position: absolute;
    bottom: 0;
} */

/* Project Section */

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
}

.project-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-content: center;
}

/* Skills Section */

.skills-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
}

.skills-img {
  max-width: 30%;
  display: flex;
  margin-inline: auto;
  padding-top: 1rem;
}

.icons {
  display: flex;
  gap: 1rem;
}

/* Testimonials Section */

.testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100dvh;
}

.testimonials-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

/* Media Queries */

@media (width >= 1024px) {
  #menu {
    display: none;
  }

  .navbar {
    flex-direction: row;
    align-items: center;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
  }

  .about-img {
    justify-self: end;
    width: 60%;
  }

  .intro-title {
    font-weight: var(--mediumFont);
  }

  .intro-text {
    font-weight: var(--lightFont);
    max-width: 90%;
  }
}
